@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Prediction Algorithm - Pro12</h1>
    <p class="lead">Prediction Algorithm - Pro12 is a web application that utilises an algorithm to predict Pro12 Results</p>
    <p><a href="http://www.pro12rugby.com/home.php" class="btn btn-primary btn-lg">Pro12 Website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
      
        <p>
            <img src="http://imgur.com/VNBzS67.png" />
        </p>
       
    </div>
    @*<div class="col-md-4">
        <h2>Coming Soon</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>